<%- include('../../partials/header') %>
<div class="container">
    <h1>Messages</h1>
    <% if (conversations.length > 0) { %>
        <div class="conversations-list">
            <% conversations.forEach(conv => { %>
                <a href="/messages/<%= conv.user._id %>" class="conversation-item">
                    <div class="conv-avatar"><%= conv.user.firstName.charAt(0) %></div>
                    <div class="conv-info">
                        <strong><%= conv.user.firstName %> <%= conv.user.lastName %></strong>
                        <p><%= conv.lastMessage.content.substring(0, 50) %>...</p>
                    </div>
                </a>
            <% }) %>
        </div>
    <% } else { %>
        <p>No messages yet.</p>
    <% } %>
</div>
<%- include('../../partials/footer') %>
